button.btn-data + button.btn-data {
  margin-left: 10px;
}

.fetch-data,
.table-data,
.address-data,
.searching-form {
  margin-top: 20px;
}

.address-data {
  max-width: 500px;
}

.btn-th {
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
}

button.btn-th:hover {
    background-color: #e6e6e6;
}
